ul {
	display: flex;
	justify-content: right;
    list-style-type: none;
    margin-left: -150px;
    margin-right: -10px;
    margin-bottom: -50px;
}
li {
    width: 100px;
    height: 100px;
}
li img {
    transition: 1s; 
}

li img:hover {
    transform: scale(1.2);
}